<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <%= render 'shared/errors', resource: @badge %>
    <%= form_with model: [:admin, @badge], local: true do |form| %>
      <p>
        <%= form.label :title %>
        <%= form.text_field :title %>
      </p>
      <p>
        <%= form.label :body %>
        <%= form.text_field :body %>
      </p>

      <p><%= form.submit class: "btn btn-success" %></p>
      <%= link_to 'Back', admin_badges_path %>
    <% end %>
  </div>
</div>
