<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h1>Passing the <%= @test_passage.test.title %> test</h1>

      <p>
        <b><%= @test_passage.current_question.body %></b>
      </p>

      <%= form_with url: test_passage_path(@test_passage), local: true, class: "testPassageForm", method: :put do |form| %>
        <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
          <p>
            <%= b.check_box id: "answer_ids_#{b.object.id}" %>
            <%= b.label %>
          </p>
        <% end %>
        <p><%= link_to 'Gist Question', gist_test_passage_path(@test_passage), method: :post %></p>
        <p><%= form.button 'Next', id: 'next_button', type: "submit"  %></p>
      <% end %>

      <div id="progressBar">
        <%= content_tag :div, '', id: "barStatus", data: {question_counter: @test_passage.question_counter, question_count: @test_passage.test.questions.count} %>
      </div>

      <p>Question <%= @test_passage.question_counter %> / <%= @test_passage.test.questions.count %> </p>

      <% if @test_passage.test.timer %>
          <%= content_tag :div, '', id: "timer", data: {timer: @test_passage.timer_test_time_finish.to_s.sub(" +", "+")} %>
        <% end %>
  </div>
</div>
