
<div class="row justify-content-center mt-3">
  <div class="col col-md-4">
    <h1><%= t('admin.tests.new.header') %></h1>

    <%= form_with model: [:admin, @test], local: true do |form| %>
      <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </p>

      <p>
        <%= form.label :level %><br>
        <%= form.number_field :level, value: 1, min: 1 %>
      </p>

      <p>
        <%= form.label :category_id %>:
        <%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
      </p>

      <p>
        <%= form.label :timer %><br>
        <%= form.number_field :timer, value: 0, min: 0 %>
      </p>

      <p>
        <%= form.check_box :ready %>
        <%= form.label :ready, "Add to user's test list" %>
      </p>

      <p><%= form.submit class: "btn btn-success" %></p>
      <p><%= link_to t('back'), admin_tests_path %></p>
    <% end %>
  </div>
</div>
