<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
      .footer {
        position: fixed;
        left: 0; bottom: 0;
      }
    </style>
  </head>

  <body>
    <% if user_signed_in? %>
      <p class="nav nav-user">
        Welcome, <b><%= current_user.email %></b> <%= link_to 'Guru', root_path %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      </p>
    <% end %>

    <%= flash_message %>

    <%= yield %>

    <div>
    <div class="footer">
      <%= render "layouts/footer" %>
    </div>
  </div>
  </body>

</html>
